.my-orders{
    margin: 50px 0px;
}

.my-orders-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.my-orders-container hr{
    border: none;
    height: 1px;
    background-color: #e2e2e2;
}

.my-orders-order{
    display: grid;
    font-size: 15px;
    gap: 30px;
    color: #454545;
    padding: 5px 10px;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    align-items: center;
}

.my-orders-order img{
    width: 45px;
}

.my-orders-order p span{
    color: tomato;
}

.my-orders-order p b{
    font-weight: 500;
    color: #454545;
}
.my-orders-order button{
    border: none;
    text-align: center;
    border-radius: 4px;
    padding: 12px 0px;
    cursor: pointer;
    background-color: #ffe1e1;
    color: #454545;
}

.my-orders-order button:hover{
    background-color: #ffd1d1;
    color: black;
    border-radius: 4px;
    transform: scale(1.05);
    font-weight: bold;
    transition: 0.2s;
}

@media (max-width:900px) {
    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr;
        font-size: 10px;
        row-gap: 5px;
        padding: 2.5px 5px;

    }
    .my-orders-order button{
        font-size: 10px;
    }
}